<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef968d">  <td>21/05/27 12:27:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_ThemSach.TC_01_ThemThanhCong()[pri:0, instance:excute.TS_ThemSach@ed9d034]">TC_01_ThemThanhCong</td> 
  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/05/27 12:27:42</td>   <td>23131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_ThemSach.TC_02_ThemKhongThanhCong()[pri:0, instance:excute.TS_ThemSach@ed9d034]">TC_02_ThemKhongThanhCong</td> 
  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/05/27 12:27:37</td>   <td>17892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TS_ThemSach.afterMethod()[pri:0, instance:excute.TS_ThemSach@ed9d034]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/05/27 12:27:50</td>   <td>31411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TS_ThemSach.afterMethod()[pri:0, instance:excute.TS_ThemSach@ed9d034]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/05/27 12:27:12</td>   <td>-6732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS_ThemSach.beforeMethod()[pri:0, instance:excute.TS_ThemSach@ed9d034]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@673068808</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>21/05/27 12:27:37</td>   <td>18010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TS_ThemSach.beforeMethod()[pri:0, instance:excute.TS_ThemSach@ed9d034]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@673068808</td>   <td></td> </tr>
</table>
